* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.page-header {
  border-bottom: 1px solid #ececec;
}

.page-header-container {
  display: flex;
  align-items: center;
  height: 80px;
}

.logo {
  font-family: "Raleway", Arial, Helvetica, sans-serif;
  font-weight: 700;
  font-size: 26px;
  text-decoration: none;
  color: rgba(0, 0, 0, 1);
  line-height: 1.19;
}

.logo-2nd-color {
  color: rgba(33, 150, 243, 1);
}

.footer-logo {
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  padding-top: 60px;
  padding-bottom: 20px;
  line-height: 1.19;
}

.logo-link {
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
}

.logo-3rd-color {
  color: rgba(33, 150, 243, 1);
}

.navigation-list {
  display: flex;
  justify-content: space-between;
  width: 254px;
  margin-left: 94px;
  list-style: none;
}

.navigation-item {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: rgba(33, 33, 33, 1);
  list-style: none;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.navigation-item:hover,
.navigation-item:focus {
  color: rgba(33, 150, 243, 1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.agency-choice::after {
  content: "";
  border-bottom: 4px solid rgba(33, 150, 243, 1);
  display: flex;
  border-radius: 3px;
  position: relative;
  top: 29.7px;
}

.portfolio-choice::after {
  content: "";
  border-bottom: 4px solid rgba(33, 150, 243, 1);
  display: flex;
  border-radius: 3px;
  position: relative;
  top: 29.7px;
}

.contact-navigation {
  display: flex;
  margin-left: 371px;
}

.contact-item {
  font-weight: 500;
  font-size: 14px;
  text-decoration: none;
  color: rgba(117, 117, 117, 1);
  fill: #757575;
  display: flex;
  align-items: center;
}

.contact-item:first-child {
  margin-right: 50px;
}

.contact-item:hover,
.contact-item:focus {
  color: rgba(33, 150, 243, 1);
  fill: #2196f3;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-art {
  margin: 0 auto;
  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/background_img.jpg");
  width: 1600px;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #2f303a;
}

.main-phrase-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-phrase {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  color: rgba(255, 255, 255, 1);
  text-align: center;
  margin-top: 0;
  margin-bottom: 30px;
  padding-top: 106px;
  letter-spacing: 0.06em;
}

.main-button {
  line-height: 1.875;
  letter-spacing: 0.06em;
  background-color: rgba(33, 150, 243, 1);
  border: none;
  border-radius: 4px;
  padding: 10px 41px 10px 42px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  color: rgba(255, 255, 255, 1);
  font-weight: 700;
  font-size: 16px;
  cursor: pointer;
  margin-bottom: 106px;
}

.main-button:hover,
.main-button:focus {
  background-color: rgb(21, 106, 175);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-overlay {
  background-color: rgba(0, 0, 0, 0.2);
  position: fixed;
  width: 100%;
  height: 100%;
  display: flex;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  z-index: 9999;
  transition: opacity 0.5s cubic-bezier(0.4, 0, 0.2, 1);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal-box {
  background-color: rgb(255, 255, 255);
  width: 528px;
  height: 611px;
  display: flex;
  justify-content: flex-end;
  position: absolute;
  border-radius: 4px;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}

.modal-box-form {
  display: flex;
  flex-direction: column;
  position: absolute;
  justify-content: center;
  left: 40px;
  right: 40px;
  top: 75px;
}
.data-form {
  width: 100%;
}

.data-label {
  position: relative;
  display: flex;
  flex-direction: column;
  margin-top: 12px;
  color: rgba(117, 117, 117, 1);
}

.data-hover:hover,
.data-hover:focus {
  fill: rgba(33, 150, 243, 1);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-input {
  margin-top: 4px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  padding-left: 40px;
}

.data-input:hover,
.data-input:focus {
  outline: none;
  border-color: rgba(33, 150, 243, 1);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.data-textarea {
  resize: none;
  height: 120px;
  padding: 12px 16px 12px 16px;
  font-weight: 400;
  font-size: 12px;
  letter-spacing: 0.01em;
  line-height: 1.16;
}

.data-textarea::placeholder {
  color: rgba(117, 117, 117, 0.5);
}

.data-input-icon {
  position: absolute;
  top: 36px;
  left: 15px;
}

.data-checkbox-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.checkbox-appear-none {
  appearance: none;
}

.data-checkbox-label {
  display: flex;
  align-items: center;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(117, 117, 117, 1);
  cursor: pointer;
}

.data-checkbox-label::before {
  content: "";
  display: block;
  width: 16px;
  height: 15px;
  margin-right: 5px;
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Cpath fill='%23212121' d='M14.222 1.667v11.666H1.778V1.667h12.444Zm0-1.667H1.778C.8 0 0 .75 0 1.667v11.666C0 14.25.8 15 1.778 15h12.444C15.2 15 16 14.25 16 13.333V1.667C16 .75 15.2 0 14.222 0Z'/%3E%3C/svg%3E");
}

.data-checkbox-input:checked + .data-checkbox-label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='15' fill='none'%3E%3Crect width='16' height='15' fill='%232196F3' rx='2'/%3E%3Cpath fill='%23fff' stroke='%23fff' stroke-width='.2' d='m3.957 7.752-.069-.066-.069.065-.888.842-.076.072.076.073 3.496 3.334.069.066.069-.066 7.504-7.158.076-.073-.076-.072-.882-.841-.069-.066-.069.066-6.553 6.246-2.539-2.422Z'/%3E%3C/svg%3E");
  background-position: center;
  border: none;
}

.data-checkbox-link {
  color: rgba(33, 150, 243, 1);
}

.data-button {
  position: relative;
  left: 124px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  border-width: 0;
  border-radius: 4px;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  padding: 10px 76px 10px 76px;
  cursor: pointer;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
}

.modal-form-title {
  position: absolute;
  top: 40px;
  left: 40px;
  right: 40px;
  text-align: center;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  letter-spacing: 0.03em;
  margin: 0;
}

.modal-button {
  width: 30px;
  height: 30px;
  padding: 0;
  border-width: 1px;
  border-radius: 50%;
  border-color: rgba(0, 0, 0, 0.1);
  background-color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  position: relative;
  right: 8px;
  top: 8px;
}

.main-content {
  display: flex;
}

.content-title {
  font-weight: 700;
  font-size: 14px;
  color: rgba(33, 33, 33, 1);
  line-height: 1.14;
}

.content-text {
  font-size: 14px;
  color: rgba(117, 117, 117, 1);
  line-height: 1.71;
}

.what-we-do-box {
  padding-top: 94px;
}

.what-we-do-gallery {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.what-we-do-img:not(:last-child) {
  margin-right: 30px;
}

.wwd-tile-tittle {
  background: rgba(47, 48, 58, 0.8);
  text-align: center;
  padding: 27px 90px 27px 90px;
  font-weight: 700;
  color: rgba(255, 255, 255, 1);
  font-size: 14px;
  position: relative;
  bottom: 74px;
}

.wwd-tile-sentence {
  margin: 0;
}

.article-tittle {
  font-weight: 700;
  font-size: 36px;
  color: rgba(33, 33, 33, 1);
  text-align: center;
  margin-bottom: 50px;
  line-height: 1.17;
}

.team-box {
  background-color: rgba(245, 244, 250, 1);
}

.team {
  display: flex;
  justify-content: space-between;
  list-style: none;
  padding-left: 0;
}

.worker {
  background-color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
}

.worker-title {
  padding: 20px 0 30px 0;
}

.worker-description {
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 1);
  line-height: 1.19;
  margin: 0 0 16px 0;
}

.worker-name {
  font-weight: 500;
  color: rgba(33, 33, 33, 1);
  margin-bottom: 10px;
}

.social-media-box {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.social-media-link {
  width: 44px;
  height: 44px;
  border-radius: 100%;
  fill: #afb1b8;
}

.social-media-link:hover,
.social-media-link:focus {
  background-color: rgba(33, 150, 243, 1);
  fill: #ffffff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-tittle {
  font-weight: bold;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  margin: 0 0 50px 0;
}

.client-box {
  display: flex;
  justify-content: space-between;
}

.client-tile {
  width: 170px;
  height: 92px;
  border: 1px solid rgba(175, 177, 184, 1);
  border-radius: 4px;
  fill: #afb1b8;
  text-align: center;
  padding: 16px 32px;
}

.client-tile:hover,
.client-tile:focus {
  border-color: rgba(33, 150, 243, 1);
  fill: #2196f3;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-design {
  background-color: rgba(47, 48, 58, 1);
  padding-bottom: 60px;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
}

.address-list {
  list-style: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  margin-right: 70px;
  line-height: 1.71;
}

.address-list li:not(:last-child) {
  margin-bottom: 9px;
}

.corp-address {
  font-size: 14px;
  font-style: normal;
  color: rgba(255, 255, 255, 1);
}

.footer-contact {
  font-size: 14px;
  font-style: normal;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}

.footer-socialmedia {
  padding-top: 72px;
}

.footer-socialmedia-tittle {
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 20px;
  color: rgba(255, 255, 255, 1);
}

.footer-socialmedia-box {
  display: flex;
}

.footer-socialmedia-link {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 100%;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.1);
  fill: #ffffff;
}

.footer-socialmedia-link:hover,
.footer-socialmedia-link:focus {
  background-color: rgba(33, 150, 243, 1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-socialmedia-link:not(:last-child) {
  margin-right: 10px;
}

.footer-form-box {
  display: flex;
  margin: 72px 0 0 78px;
}

.footer-form {
  display: flex;
}

.footer-form-tittle {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 1);
  margin: 0;
}

.footer-input {
  width: 358px;
  height: 50px;
  margin-top: 20px;
  padding: 15px 0 15px 16px;
  background-color: rgba(47, 48, 58, 1);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  border-width: 1px;
  border-color: rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  outline: none;
  color: rgba(255, 255, 255, 1);
}

.footer-input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.footer-form-button {
  display: flex;
  gap: 24px;
  justify-content: space-evenly;
  align-items: center;
  width: 200px;
  height: 50px;
  padding: 10px 28px 10px 42px;
  margin: 36px 0 0 12px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  fill: rgba(255, 255, 255, 1);
  border-width: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  cursor: pointer;
}

/* portfolio */

.nav-buttons {
  display: flex;
  justify-content: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav-buttons li:not(:last-child) {
  margin-right: 8px;
}

.nav-button {
  border-radius: 4px;
  background-color: rgba(245, 244, 250, 1);
  font-weight: 500;
  font-size: 16px;
  padding: 6px 22px 6px 22px;
  border: none;
  color: rgba(33, 33, 33, 1);
  cursor: pointer;
  line-height: 1.625;
}

.nav-button:hover,
.nav-button:focus {
  background-color: rgba(33, 150, 243, 1);
  color: rgba(255, 255, 255, 1);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.12),
    0px 1px 2px 0px rgba(0, 0, 0, 0.08), 0px 3px 1px 0px rgba(0, 0, 0, 0.1);
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  justify-content: center;
  list-style: none;
  margin: 50px 0 0 0;
  padding: 0;
}

.projects-item {
  flex-basis: calc((100% - 2 * 30) / 3);
}

.projects-item:hover,
.projects-item:focus {
  box-shadow: 1px 4px 6px 0px rgba(0, 0, 0, 0.16),
    0px 4px 4px 0px rgba(0, 0, 0, 0.06), 0px 1px 1px 0px rgba(0, 0, 0, 0.12);
  cursor: pointer;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.projects-img {
  border: 1px solid rgba(238, 238, 238, 1);
  margin: 0;
  padding: 0;
}

.img-box {
  position: relative;
  overflow: hidden;
}

.project-overlay {
  position: absolute;
  background-color: rgba(33, 150, 243, 0.9);
  width: 100%;
  height: 100%;
  color: rgba(255, 255, 255, 1);
  transform: translateY(100%);
  transition: transform 500ms cubic-bezier(0.4, 0, 0.2, 1);
  font-weight: 500;
  font-size: 18px;
  line-height: 1.56;
  letter-spacing: 0.03em;
  color: #ffffff;
  padding: 49px 45px 49px 24px;
}

.projects-item:hover .project-overlay {
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transform: translateY(-100%);
}

.project-type {
  margin: 0px;
  line-height: 1.875;
}

.project-description {
  font-size: 16px;
  color: rgba(117, 117, 117, 1);
  padding: 20px 24px;
  z-index: 2;
}

.project-name {
  font-weight: 700;
  font-size: 18px;
  color: rgba(33, 33, 33, 1);
  padding: 0 0 4px 0;
  margin: 0;
  line-height: 2;
}

.content-icon-box {
  width: 270px;
  height: 120px;
  border-radius: 4px;
  margin-bottom: 30px;
  background-color: #f5f4fa;
}

/* icons styles */

.icon {
  margin-right: 10px;
}

.content-icon {
  margin: 25px 100px;
}

.social-media-icon {
  margin: 12px;
}

.footer-socialmedia-icon {
  margin: 10px;
}
