@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@700&family=Roboto:wght@400;500;700;900&display=swap");
@import "./utils/vars";
@import "./components/main-page/main-page-components.scss";
@import "./components/portfolio/portfolio-components.scss";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Roboto", Arial, Helvetica, sans-serif;
  color: rgba(33, 33, 33, 1);
  background-color: rgba(255, 255, 255, 1);
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  width: 1200px;
  justify-content: center;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}
